In [1]:
# import necessary libraries
import pandas as pd

In [2]:
# Load the data into the dataframe and view the info
df = pd.read_csv('event_datafile_new.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820 entries, 0 to 6819
Data columns (total 11 columns):
artist           6820 non-null object
firstName        6820 non-null object
gender           6820 non-null object
itemInSession    6820 non-null int64
lastName         6820 non-null object
length           6820 non-null float64
level            6820 non-null object
location         6820 non-null object
sessionId        6820 non-null int64
song             6820 non-null object
userId           6820 non-null int64
dtypes: float64(1), int64(3), object(7)
memory usage: 586.2+ KB

In [3]:
# Check the number of records for session id 338
df[df['sessionId'] == 338]

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
441,Pixies,Ava,F,1,Robinson,89.36444,free,"New Haven-Milford, CT",338,Build High,50
442,The Roots / Jack Davey,Ava,F,2,Robinson,155.95057,free,"New Haven-Milford, CT",338,Atonement,50
443,Mike And The Mechanics,Ava,F,3,Robinson,275.12118,free,"New Haven-Milford, CT",338,A Beggar On A Beach Of Gold,50
444,Faithless,Ava,F,4,Robinson,495.30730,free,"New Haven-Milford, CT",338,Music Matters (Mark Knight Dub),50

In [4]:
# Check the number of records for user id 10
df[df['userId'] == 10]

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
342,The Swell Season,Sylvie,F,0,Cruz,319.13751,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",220,If You Want Me (Live),10
344,Nightwish,Sylvie,F,1,Cruz,305.97179,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",220,The Islander,10
436,The White Stripes,Sylvie,F,3,Cruz,231.81016,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",286,Seven Nation Army (Album Version),10
446,Vader,Sylvie,F,1,Cruz,128.91383,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",339,Carnal,10
447,Wu-Tang Clan,Sylvie,F,2,Cruz,122.46159,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",339,Impossible,10
889,Brad Paisley With Andy Griffith,Sylvie,F,0,Cruz,302.70649,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",681,Waitin' On A Woman,10
1330,Amy Winehouse,Sylvie,F,1,Cruz,202.73587,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",272,You Know I'm No Good,10
1844,Cameo,Sylvie,F,0,Cruz,211.98322,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",577,Word Up!,10
2281,Molotov,Sylvie,F,0,Cruz,248.65914,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",877,Marciano (I Turned Into A Martian),10
2284,John Mayer,Sylvie,F,1,Cruz,201.56036,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",877,Love Song For No One,10
2442,I Set My Friends On Fire,Sylvie,F,0,Cruz,206.39302,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1005,But The NUNS Are Watching,10
3429,Chromeo,Sylvie,F,0,Cruz,171.57179,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",717,Momma's Boy,10
4435,Matt Redman,Sylvie,F,0,Cruz,303.46404,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",864,Blessed Be Your Name,10
4704,Down To The Bone,Sylvie,F,0,Cruz,333.76608,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",182,Keep On Keepin' On,10
4705,Three Drives,Sylvie,F,1,Cruz,411.63710,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",182,Greece 2000,10
4706,Sebastien Tellier,Sylvie,F,2,Cruz,377.73016,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",182,Kilometer,10
4707,Lonnie Gordon,Sylvie,F,3,Cruz,181.21098,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",182,Catch You Baby (Steve Pitron & Max Sanna Radio...,10
5105,Klaus Badelt,Sylvie,F,1,Cruz,128.62649,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",210,Moonlight Serenade,10
5851,Pavement,Sylvie,F,0,Cruz,99.16036,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",345,Mercy:The Laundromat,10
6024,Black Eyed Peas,Sylvie,F,0,Cruz,214.93506,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",9,Pump It,10
6071,KC And The Sunshine Band,Sylvie,F,1,Cruz,301.03465,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",484,Get Down Tonight (Miami Mix),10
6074,Eminem,Sylvie,F,2,Cruz,323.49995,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",484,Criminal,10
6076,Laurel & Hardy,Sylvie,F,3,Cruz,123.71546,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",484,At the Ball_ That's All,10
6078,Percubaba,Sylvie,F,4,Cruz,124.78649,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",484,Intro,10
6080,Rilo Kiley,Sylvie,F,5,Cruz,322.42893,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",484,A Man/Me/Then Jim (Album Version),10
6082,Watain,Sylvie,F,6,Cruz,303.25506,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",484,Sworn To The Dark,10
6084,Ricardo Arjona,Sylvie,F,7,Cruz,210.25914,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",484,Como Duele (Album),10
6643,Samael,Sylvie,F,0,Cruz,247.09179,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",677,God's Snake,10

In [5]:
# Check the number of records for user id 10 and session_id=182
df[(df['userId'] == 10) & (df['sessionId'] == 182)]

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
4704,Down To The Bone,Sylvie,F,0,Cruz,333.76608,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",182,Keep On Keepin' On,10
4705,Three Drives,Sylvie,F,1,Cruz,411.63710,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",182,Greece 2000,10
4706,Sebastien Tellier,Sylvie,F,2,Cruz,377.73016,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",182,Kilometer,10
4707,Lonnie Gordon,Sylvie,F,3,Cruz,181.21098,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",182,Catch You Baby (Steve Pitron & Max Sanna Radio...,10

In [6]:
# Check the users listening to the song 'All Hands Against His Own'
df[df['song'] == 'All Hands Against His Own']

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
2792,The Black Keys,Tegan,F,25,Levine,196.91057,paid,"Portland-South Portland, ME",611,All Hands Against His Own,80
5135,The Black Keys,Sara,F,31,Johnson,196.91057,paid,"Winston-Salem, NC",152,All Hands Against His Own,95
6298,The Black Keys,Jacqueline,F,50,Lynch,196.91057,paid,"Atlanta-Sandy Springs-Roswell, GA",559,All Hands Against His Own,29